mat-toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: #5BC0E4;
  color: white;
}

mat-toolbar button {
  margin-right: 10px;
}

mat-menu-item mat-icon {
  margin-right: 8px;
}

.mat-button {
  color: white;
}

.mat-button:hover {
  background-color: #5BC0E4;
  color: white;
}
.container {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}