<div class="container">
  <form [formGroup]="form" (ngSubmit)="aceptar()" style="margin: 2rem">
    <h2 style="text-align: center; margin-top: 2rem">
      {{ edicion ? "Editar Ubicacion" : "Registrar Ubicacion" }}
    </h2>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Latitud</mat-label>
      <input matInput formControlName="latitud" placeholder="19.432608" />
      <mat-error
        *ngIf="form.get('latitud')?.invalid && form.get('latitud')?.touched"
      >
        La Latitud es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Longitud</mat-label>
      <input matInput formControlName="longitud" placeholder="-99.133209" />
      <mat-error
        *ngIf="form.get('longitud')?.invalid && form.get('longitud')?.touched"
      >
        La Longitud es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Hora</mat-label>
      <input matInput formControlName="hora" placeholder="08:00:00" />
      <mat-error *ngIf="form.get('hora')?.invalid && form.get('hora')?.touched">
        La Hora es obligatoria.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100" *ngIf="!esCliente">
      <mat-label>ID del GPS</mat-label>
      <input matInput formControlName="dgpsId" placeholder="Ej. 1" />
      <mat-error
        *ngIf="form.get('dgpsId')?.invalid && form.get('dgpsId')?.touched"
      >
        El ID del GPS obligatorio.
      </mat-error>
    </mat-form-field>

    <div style="margin-top: 2rem">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </div>
  </form>
</div>
