<div class="container">
  <form [formGroup]="form" (ngSubmit)="aceptar()" style="margin: 2rem">
    <h2 style="text-align: center; margin-top: 2rem">
      {{ edicion ? "Editar Reclamo" : "Registrar Reclamo" }}
    </h2>
    <!-- Texto de la consulta -->
    <mat-form-field class="example-full-width" *ngIf="edicion">
      <mat-label>ID</mat-label>
      <input matInput formControlName="codigo" />
      <mat-error *ngIf="form.get('codigo')?.hasError('required')">
        El código es obligatorio!!
      </mat-error>
    </mat-form-field>

    <!-- Asunto -->

    <mat-form-field class="example-full-width">
      <mat-label>Asunto</mat-label>
      <input matInput placeholder="Al caso" formControlName="asunto" />
      <mat-error *ngIf="form.get('asunto')?.hasError('required')">
        El asunto es obligatoria!!
      </mat-error>
    </mat-form-field>

    <!-- Fecha -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="form.get('fecha')?.hasError('required')">
        La fecha es obligatoria!!
      </mat-error>
    </mat-form-field>

    <!-- Descripcion -->

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <input matInput placeholder="Describa" formControlName="descripcion" />
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
        La descripcion es obligatoria!!
      </mat-error>
    </mat-form-field>

    <!-- Estado del reclamo -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>¿Resuelto?</mat-label>
      <mat-select formControlName="resuelto">
        <mat-option [value]="true">Sí</mat-option>
        <mat-option [value]="false">No</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('resuelto')?.hasError('required')">
        El estado de resolución es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- ID del Usuario -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>ID del Usuario</mat-label>
      <input matInput type="number" formControlName="usuarioId" />
    </mat-form-field>

    <div style="margin-top: 2rem">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </div>
  </form>
</div>
