<div class="container">
  <form [formGroup]="form" (ngSubmit)="aceptar()" style="margin: 2rem">
    <h2 style="text-align: center; margin-top: 2rem">
      {{ edicion ? "Editar Denuncia" : "Registrar Denuncia" }}
    </h2>

    <!-- Descripción -->
       <mat-form-field appearance="fill" class="w-100">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.touched && form.get('descripcion')?.hasError('required')">
        La descripción es obligatoria.
      </mat-error>
    </mat-form-field>


    <!-- Motivo -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Motivo</mat-label>
      <input matInput formControlName="motivo" />
         <mat-error *ngIf="form.get('motivo')?.touched && form.get('motivo')?.hasError('required')">
        El motivo es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Estado -->
    <mat-form-field appearance="fill" class="w-100" *ngIf="isAdmin">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option *ngFor="let t of estado" [value]="t.value">
          {{ t.viewValue }}
        </mat-option>
      </mat-select>
         <mat-error *ngIf="form.get('estado')?.touched && form.get('estado')?.hasError('required')">
        El estado es obligatorio.
      </mat-error>
    </mat-form-field>

    <!-- Comisaría -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Comisaría</mat-label>
      <mat-select formControlName="comisariaId">
        <mat-option *ngFor="let c of comisarias" [value]="c.id">
          {{ c.nombre }}
        </mat-option>
      </mat-select>
         <mat-error *ngIf="form.get('comisariaId')?.touched && form.get('comisariaId')?.hasError('required')">
        Debe seleccionar una comisaría
      </mat-error>
    </mat-form-field>

    <!-- Vehículo -->
    <mat-form-field
      appearance="fill"
      class="w-100"
      *ngIf="vehiculos.length > 0"
    >
      <mat-label>Vehículo (placa)</mat-label>
      <mat-select formControlName="vehiculoId">
        <mat-option *ngFor="let v of vehiculos" [value]="v.placa">
          {{ v.placa }}
        </mat-option>
      </mat-select>
         <mat-error *ngIf="form.get('vehiculoId')?.touched && form.get('vehiculoId')?.hasError('required')">
        Debe seleccionar un vehículo
      </mat-error>
    </mat-form-field>

    <!-- Botón -->
   <div class="botones-acciones">
      <button mat-raised-button type="submit" [disabled]="form.invalid">
        Aceptar
      </button>

      <button
        mat-raised-button
        type="button"
        (click)="cancelar()"
        class="btn-cancelar"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
