mat-toolbar {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  color: white;
}

mat-toolbar button {
  margin-right: 10px;
}

mat-menu-item mat-icon {
  margin-right: 8px;
}

.mat-button {
  color: white;
}

.mat-button:hover {
  background-color: #5BC0E4;
  color: white;
}

