<h2>Índice de Módulos</h2>
<ul>
  <li><a routerLink="/usuario/listarusuario">Usuarios</a></li>
  <li><a routerLink="/vehiculo/listarvehiculo">Vehículos</a></li>
  <li><a routerLink="/ubicacion-registro/listarubicacionregistro">Ubicación Registro</a></li>
  <li><a routerLink="/ruta/listarruta">Rutas</a></li>
  <li><a routerLink="/rol/listarrol">Roles</a></li>
  <li><a routerLink="/reclamo/listarreclamo">Reclamos</a></li>
  <li><a routerLink="/dispositivo-gps/listardispositivogps">Dispositivos GPS</a></li>
  <li><a routerLink="/denuncia/listardenuncia">Denuncias</a></li>
  <li><a routerLink="/consulta/listarconsulta">Consultas</a></li>
  <li><a routerLink="/comisaria/listarcomisaria">Comisarías</a></li>
  <li><a routerLink="/alerta/listaralerta">Alertas</a></li>
</ul>
