body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.main-login-wrapper {
  display: flex;
  height: 100vh;
}

/* Lado izquierdo */
.login-container {
  background-color: #27193E;
  padding: 2rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
}

.logo {
  width: 120px;
  margin-bottom: 1rem;
}

h2 {
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.mat-form-field {
  width: 100%;
  max-width: 300px;
}

.custom-button {
  background-color: #5BC0E4;
  color: #27193E;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #45b3d1;
}

/* Imagen de fondo lado derecho */
.login-image {
  width: 50%;
  background-image: url('/assets/fondologin.jpeg'); 
  background-size: cover;
  background-position: center;
}

/* Ajustes de Angular Material */
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #FFFFFF;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  color: #27193E;
}

::ng-deep .mat-form-field-label {
  color: #27193E !important;
}
.register-link {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #ffffff;
  text-align: center;
}

.register-link a {
  color: #5BC0E4;
  text-decoration: underline;
  margin-left: 5px;
  cursor: pointer;
}

.custom-button {
  background-color: #5BC0E4 !important;
  color: #FFFFFF !important;
  font-weight: bold;
  padding: 0.6rem 1.5rem;
  margin-top: 1rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
