<ng-container *ngIf="verificar()">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon> Indice
    </button>

    <button mat-button [matMenuTriggerFor]="reportMenu">
      <mat-icon>book</mat-icon> Reportes
    </button>

    <button mat-button routerLink="/indice">
      <mat-icon>home</mat-icon> Home
    </button>

    <!-- Espaciador -->
    <span class="spacer"></span>

    <!-- Cerrar sesión -->
    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>account_circle</mat-icon> Salir
    </button>
  </mat-toolbar>

  <!-- Menú principal -->
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item routerLink="/usuario/listarusuario">
      <mat-icon>person</mat-icon>Usuarios
    </button>
    <button mat-menu-item routerLink="/vehiculo/listarvehiculo">
      <mat-icon>directions_car</mat-icon>Vehículos
    </button>
    <button mat-menu-item routerLink="/ubicacion-registro/listarubicacionregistro">
      <mat-icon>location_on</mat-icon>Ubicación Registro
    </button>
    <button mat-menu-item routerLink="/ruta/listarruta">
      <mat-icon>alt_route</mat-icon>Rutas
    </button>
    <button mat-menu-item routerLink="/rol/listarrol">
      <mat-icon>https</mat-icon>Roles
    </button>
    <button mat-menu-item routerLink="/reclamo/listarreclamo">
      <mat-icon>report_problem</mat-icon>Reclamos
    </button>
    <button mat-menu-item routerLink="/dispositivo-gps/listardispositivogps">
      <mat-icon>gps_fixed</mat-icon>Dispositivos GPS
    </button>
    <button mat-menu-item routerLink="/denuncia/listardenuncia">
      <mat-icon>gavel</mat-icon>Denuncias
    </button>
    <button mat-menu-item routerLink="/consulta/listarconsulta">
      <mat-icon>question_answer</mat-icon>Consultas
    </button>
    <button mat-menu-item routerLink="/comisaria/listarcomisaria">
      <mat-icon>local_police</mat-icon>Comisarías
    </button>
    <button mat-menu-item routerLink="/alerta/listaralerta">
      <mat-icon>warning</mat-icon>Alertas
    </button>
    <button mat-menu-item routerLink="/respuesta/listarrespuesta">
      <mat-icon>reply</mat-icon>Respuestas
    </button>
  </mat-menu>

  <!-- Menú Reportes -->
  <mat-menu #reportMenu="matMenu">
    <button mat-menu-item routerLink="/reportes/reporte1">
      <mat-icon>description</mat-icon>Reporte 1
    </button>
    <button mat-menu-item routerLink="/reportes/reporte2">
      <mat-icon>description</mat-icon>Reporte 2
    </button>
    <button mat-menu-item routerLink="/reportes/reporte3">
      <mat-icon>description</mat-icon>Reporte 3
    </button>
  </mat-menu>

  <!-- Menú Salir -->
  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</ng-container>

<router-outlet></router-outlet>
