
mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  height: 64px; 
}

body, main, .main-content, router-outlet + * {
  margin-top: 64px; 
}

main {
  margin-top: 64px; 
}

mat-toolbar button {
  margin-right: 10px;
}

mat-menu-item mat-icon {
  margin-right: 8px;
}

.mat-button {
  color: white;
}

.mat-button:hover {
  background-color: #5BC0E4;
  color: white;
}
.spacer {
  flex: 1 1 auto;
}
