<ng-container *ngIf="verificar()">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon> Menú
    </button>

    <button *ngIf="esAdmin()" mat-button [matMenuTriggerFor]="reportMenu">
      <mat-icon>book</mat-icon> Reportes
    </button>

    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </button>

    <span class="spacer"></span>

    <ng-container *ngIf="esCliente()">
      <button
        mat-icon-button
        [matMenuTriggerFor]="menuAlertas"
        aria-label="Notificaciones"
      >
        <mat-icon matBadge="{{ alertasUsuario.length }}" matBadgeColor="warn">
          notifications
        </mat-icon>
      </button>
    </ng-container>

    <mat-menu #menuAlertas="matMenu">
      <ng-container *ngIf="alertasUsuario.length > 0; else noAlertas">
        <button mat-menu-item *ngFor="let alerta of alertasUsuario">
          <mat-icon>warning</mat-icon>
          <div
            style="display: flex; flex-direction: column; white-space: normal"
          >
            <strong>{{ alerta.asunto }} - {{ alerta.vehiculo.placa }}</strong>
            <span style="font-size: 0.85em; color: #666">{{
              alerta.descripcion
            }}</span>
          </div>
        </button>
      </ng-container>
      <ng-template #noAlertas>
        <button mat-menu-item disabled>No tienes alertas</button>
      </ng-template>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="menuSalir">
      <mat-icon>account_circle</mat-icon> Salir
    </button>
  </mat-toolbar>

  <mat-menu #mainMenu="matMenu">
    <button *ngIf="esAdmin()" mat-menu-item routerLink="/usuario/listarusuario">
      <mat-icon>person</mat-icon>Usuarios
    </button>

    <button mat-menu-item routerLink="/vehiculo/listarvehiculo">
      <mat-icon>directions_car</mat-icon>Vehículos
    </button>

    <button
      mat-menu-item
      routerLink="/ubicacion-registro/listarubicacionregistro"
    >
      <mat-icon>location_on</mat-icon>Ubicación Registro
    </button>

    <button mat-menu-item routerLink="/ruta/listarruta">
      <mat-icon>alt_route</mat-icon>Rutas
    </button>

    <button *ngIf="esAdmin()" mat-menu-item routerLink="/rol/listarrol">
      <mat-icon>https</mat-icon>Roles
    </button>

    <button mat-menu-item routerLink="/reclamo/listarreclamo">
      <mat-icon>report_problem</mat-icon>Reclamos
    </button>

    <button mat-menu-item routerLink="/dispositivo-gps/listardispositivogps">
      <mat-icon>gps_fixed</mat-icon>Dispositivos GPS
    </button>

    <button mat-menu-item routerLink="/denuncia/listardenuncia">
      <mat-icon>gavel</mat-icon>Denuncias
    </button>

    <button
      *ngIf="esAdmin()"
      mat-menu-item
      routerLink="/consulta/listarconsulta"
    >
      <mat-icon>question_answer</mat-icon>Consultas
    </button>

    <button
      *ngIf="esAdmin()"
      mat-menu-item
      routerLink="/comisaria/listarcomisaria"
    >
      <mat-icon>local_police</mat-icon>Comisarías
    </button>

    <button *ngIf="esAdmin()" mat-menu-item routerLink="/alerta/listaralerta">
      <mat-icon>warning</mat-icon>Alertas
    </button>

    <button
      *ngIf="esAdmin()"
      mat-menu-item
      routerLink="/respuesta/listarrespuesta"
    >
      <mat-icon>reply</mat-icon>Respuestas
    </button>
  </mat-menu>

  <mat-menu #reportMenu="matMenu">
    <button mat-menu-item routerLink="/reportes/usuarios-mas-alertas">
      <mat-icon>description</mat-icon>R1: Usuarios con más alertas
    </button>
    <button mat-menu-item routerLink="/reportes/reportecantdenuncias">
      <mat-icon>description</mat-icon>R2: Cantidad de denuncias por comisaria
    </button>
    <button mat-menu-item routerLink="/reportes/cantconsultasusuario">
      <mat-icon>description</mat-icon>R3: Cantidad de consultas por usuario
    </button>
  </mat-menu>

  <mat-menu #menuSalir="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>person</mat-icon> {{ username }}
    </button>

    <button mat-menu-item [routerLink]="['/usuario/perfil', userId]">
      <mat-icon>visibility</mat-icon>
      <span>Ver perfil</span>
    </button>

    <button mat-menu-item routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</ng-container>

<router-outlet></router-outlet>
