<div class="container">
  <h2 style="text-align: center; margin-top: 2rem;">
    {{ edicion ? 'Editar Ubicacion' : 'Registrar Ubicacion' }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="aceptar()" style="margin: 2rem;">
  
     <mat-form-field appearance="fill" class="w-100">
      <mat-label>Latitud</mat-label>
      <input matInput formControlName="latitud">
    </mat-form-field>

    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Longitud</mat-label>
      <input matInput formControlName="longitud">
    </mat-form-field>
    
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Fecha</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="fecha">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Hora -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Hora (HH:mm:ss)</mat-label>
      <input matInput placeholder="10:30:00" formControlName="hora">
    </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
      <mat-label>GPS</mat-label>
      <input matInput type="number" formControlName="dgps">
    </mat-form-field>

    <div style="margin-top: 2rem;">
      <button mat-raised-button color="primary" type="submit">Aceptar</button>
    </div>
  </form>
</div>