<div class="container">
  <form [formGroup]="form" (ngSubmit)="aceptar()" style="margin: 2rem">
    <h2 style="text-align: center; margin-top: 2rem">
      {{ edicion ? "Editar Vehículo" : "Registrar Vehículo" }}
    </h2>

    <!-- Placa -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Placa</mat-label>
      <input matInput formControlName="placa" placeholder="ABC-123" />
      <mat-error
        *ngIf="form.get('placa')?.errors?.['required'] && form.get('placa')?.touched"
      >
        La placa es obligatoria.
      </mat-error>
      <mat-error
        *ngIf="form.get('placa')?.errors?.['pattern'] && form.get('placa')?.touched"
      >
        El formato debe ser ABC-123 (3 letras mayúsculas, guion, 3 números).
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Color -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" placeholder="Rojo, Azul, etc." />
      <mat-error
        *ngIf="form.get('color')?.invalid && form.get('color')?.touched"
      >
        El color es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Marca -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Marca</mat-label>
      <input matInput formControlName="marca" placeholder="Toyota, Kia, etc." />
      <mat-error
        *ngIf="form.get('marca')?.invalid && form.get('marca')?.touched"
      >
        La marca es obligatoria.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Modelo -->
    <mat-form-field appearance="fill" class="w-100">
      <mat-label>Modelo</mat-label>
      <input matInput formControlName="modelo" placeholder="Yaris, Rio, etc." />
      <mat-error
        *ngIf="form.get('modelo')?.invalid && form.get('modelo')?.touched"
      >
        El modelo es obligatorio.
      </mat-error>
    </mat-form-field>
    <br />

    <!-- Usuario (solo visible para ADMIN) -->
    <mat-form-field *ngIf="esAdmin()" appearance="fill" class="w-100">
      <mat-label>ID del Usuario</mat-label>
      <input
        matInput
        type="number"
        formControlName="usuarioId"
        placeholder="Ej. 1"
      />
      <mat-error
        *ngIf="form.get('usuarioId')?.invalid && form.get('usuarioId')?.touched"
      >
        El ID de usuario es obligatorio.
      </mat-error>
    </mat-form-field>

    <br />

    <div class="botones-acciones">
      <button mat-raised-button type="submit" [disabled]="form.invalid">
        Aceptar
      </button>

      <button
        mat-raised-button
        type="button"
        (click)="cancelar()"
        class="btn-cancelar"
      >
        Cancelar
      </button>
    </div>
  </form>
</div>
