.container {
  background-color: #5BC0E4;
  min-height: 100vh; 
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Título */
h2 {
  background-color: #472F64;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* Contenedor de acciones */
.actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-wrap: wrap;
}

/* Botón Insertar */
button[color='primary'] {
  background-color: #27193E !important;
  color: white !important;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[color='primary']:hover {
  background-color: #3a2d50 !important;
}

/* Campo de búsqueda */
.search-field {
  width: 300px;
}

.search-field .mat-form-field-flex {
  border-bottom: 2px solid #27193E;
  padding-bottom: 4px;
  align-items: right;
  background: transparent;
}

.search-field input {
  color: #27193E !important;
  font-weight: 500;
}

.search-field mat-label {
  color: #27193E !important;
  font-weight: 500;
}

.search-field mat-icon {
  color: #27193E !important;
}

/* Tabla */
table {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.mat-header-cell {
  background-color: white;
  color: #27193E;
  font-weight: bold;
  text-align: center;
}

.mat-cell {
  text-align: center;
  padding: 12px;
  color: #333;
}

.mat-row:nth-child(even) {
  background-color: #f2f8fc;
}

button[mat-icon-button] mat-icon {
  color: #27193E !important;
}

mat-paginator {
  margin-top: 1.5rem;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-end; /* 🔥 Esto alinea todo a la derecha */
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
